.QuestionCard {
  h2 {
    width: 50%;
    margin: 0 auto;
  }

  button {
    margin-top: 1rem;
    background-color: white;
    padding: 15px 30px;
    color: black;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 50%;

    margin: 2rem auto;
  }
}
