.QuestionCard {
  button {
    max-width: fit-content;
    background-color: white;
    color: black;
  }

  &__buttons {
    display: flex;
    padding: 10px;
    justify-content: center;
  }

  &__buttonRow1 {
    padding: 5px;

    button {
      margin: 5px;
    }
  }

  &__buttonRow2 {
    padding: 5px;

    button {
      margin: 5px;
    }
  }
}
